#global-header {background-color: #8c1515; background-image: url(../images/header-bg.png); background-position: bottom center; background-repeat: no-repeat; color: #fff; padding: 10px 0; width: 100%;}
#top-menu a {color: #fff;}
#top-menu ul {float: right; display: block; margin: 0; padding: 0; line-height: 1em;}
#top-menu ul ul {display: none;}
#top-menu ul li {display: inline; list-style: none; margin: 0; padding: 0 0 0 1em;}
#top-menu ul li.last {border: none;}
#top-menu h2, #top-menu h3 {display: none;}
#top-menu form {margin: 0;}
#top-menu #user-login-form {text-align: right;}

#global-footer {background-color: #8c1515; background-image: url(../images/footer-bg.png); background-position: top center; background-repeat: no-repeat; color: #e3dfd5; font-size: 0.9em; line-height: 1em; padding: 30px 0 60px 0; width: 100%;}
#global-footer .vcard {font-size: 1em}
#bottom-logo {padding: 0.5em 0 1em 0;}
#bottom-text a, #bottom-text .tel {color: #e3dfd5;}
#bottom-menu {margin: 0 0 0.4em 0;}
#bottom-menu a {color: #e3dfd5;}
#bottom-menu ul {margin: 0; padding: 0; line-height: 1em;}
#bottom-menu ul li {float: left; list-style: none; margin: 0 1em 0 0; padding: 0 1em 0 0;}

/* Stanford Events Importer */
.view-stanford-events-list label {display: inline-block; width: 15%; margin: 0 2% 0 0; vertical-align: top; text-align: right; font-weight: bold; color: #666;}
.view-stanford-events-list .field-content {display: inline-block; width: 80%; vertical-align: top;}
.view-stanford-events-list .views-field-title .field-content {width: auto;}
.view-stanford-events-list .views-row {margin: 0 0 1em 0; padding: 1em;}
.view-stanford-events-list .views-row .views-field-title {margin: 0 0 1em 0;}
.view-stanford-events-list .views-row .views-field-title a {font-size: 1.5em; font-weight: bold;}
.view-stanford-events-list .views-row-odd {border-top: 1px solid #bbb; border-bottom: 1px solid #bbb; background: #eee;}

/* Desktop Styles */
@media (min-width: 640px) {
#footer {width: 95%}
}

@media (min-width: 768px) {
#footer {width: 724px}
}

@media (min-width: 980px) {
#footer {width: 940px;}
}

@media (min-width: 1200px) {
#footer {width: 1170px;}
}

/* Mobile Styles */
@media (max-width: 640px) {
/* Top Menu */
#top-logo {clear: both;}
#top-menu {margin: 1em 0 0 0;}
#top-menu ul {float: left; display: inline; margin: 0; padding: 0 1em 0 0;}
#top-menu ul li {margin: 0; padding: 0 1em 0 0;}
#top-menu ul ul {display: none;}

/* Stanford Events Importer */
.view-stanford-events-list label {width: 30%;}
.view-stanford-events-list .field-content {width: 65%;}
}