/* http://www.stanford.edu/group/webdev/color/ */
$black: #3F3C30;
$beige: #e6e4db;
$beige: #f2f1eb;
$blue: #28558c;
$cardinal: #8c1515;
$grey: #e9e6df;
$sandstone: #f2f1eb;
$translucent: rgba(0, 0, 0, 0.1);
$white: #fbfbf9;

